{% extends 'home/base.html' %}
{% load static %}
{% block title %}
  All Complaints|NCMS
{% endblock %}
{% block content %}
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h2>All Complaints List</h2>
      {% include 'home/search.html' %}
      <a href="{% url 'complaint:add_complaint' %}" class="nova-primary-button">Add Complaint</a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer</th>
          <th scope="col">item</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Assigned to</th>
        </tr>
      </thead>
      <tbody>
        {% for complaints in complaints %}
          <tr style="cursor:pointer;" onclick="window.location.href='{% url 'complaint:update_or_delete_complaint' complaints.id %}'">
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ complaints.customer.username }}</td>
            <td>{{ complaints.item.name }}</td>
            <td>{{ complaints.phone_number }}</td>
            <td>{{ complaints.assigned_to.username }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
