@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Maven+Pro:wght@400..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --nova-secondary-color:#252525;
    --nova-primary-color:#ffffff;
    --nova-active-color:#0093DD;
    --nova-secondary-active-color:#30b4f7;
    --nova-error-color: #a70303ad;
    --nova-normal-message: #4f67004f;
    --nova-succuess-color: #03421d53;
    --nova-success-text: #03421d;
    --nova-background-color: linear-gradient(45deg, #c2e59c, #64b3f4);
    --nova-canvas-background:#3e829b;
    --status-none-bg:rgb(122, 122, 122);
}
body{
    background: var(--nova-background-color) !important;
    font-family: "Poppins", serif !important;
}
.canvas{
    background: var(--nova-canvas-background);
    color: var(--nova-primary-color);
}
h1, h2, h3, h4, h5, h6{
    margin: 0 !important;
    padding: 0;
}
th{
    text-transform: capitalize;
}

/* scroll bar related styles */
/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 6px;  /* Thin scrollbar */
}

::-webkit-scrollbar-track {
    background:var(--nova-active-colornova-active-color);  /* Light background */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--nova-canvas-background);  /* Darker thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Darker on hover */
}
.canvas::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
}

.canvas::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background */
    border-radius: 10px;
}

.canvas::-webkit-scrollbar-thumb {
    background: #888; /* Darker thumb */
    border-radius: 10px;
}

.canvas::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker on hover */
}



.nova-secondary-color{
    color: var(--nova-primary-color);
    background-color: var(--nova-secondary-color);
}
.nova-nav-link{
    color: var(--nova-primary-color);
    text-decoration: none;
}
.height-100vh{
    height: 100vh;
}
.no-scroll{
    overflow: hidden;
}
.height-80vh{
    height: 80vh;
}
.nav-item:hover, .nova-active{
    background-color: var(--nova-active-color);
    cursor: pointer;
}
.overflow-y{
    overflow-y: scroll;
}
.nova-primary-button{
    background-color: var(--nova-active-color);
    text-decoration: none;
    color: var(--nova-primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.nova-primary-button:hover{
    box-shadow: 2px 2px 10px var(--nova-secondary-active-color);
}

/* input[type="passwword"] {
    width: 100% !important;
} */
.errorlist{
    background-color:var(--nova-error-color) ;
    color: var(--nova-primary-color);
    padding: 10px;
    border: none;
    list-style: none;
}

form ul{
    background-color: var(--nova-normal-message);
    padding: 10px;
    list-style: none;
    border-radius: 10px;
}

.messages{
    background-color: var(--nova-succuess-color);
    list-style: none;
    font-weight: 700;
    color: var(--nova-success-text);
    padding: 30px;
}

/* Default: Show text and image */
.no-text-mobile {
    display: inline-block;
  }
  
  /* Hide text on mobile (max-width: 768px) */
  @media (max-width: 768px) {
    .no-text-mobile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .no-text-mobile li {
      font-size: 0; /* Hides text while keeping spacing */
    }
  
    .no-text-mobile img {
      font-size: initial; /* Keep the image visible */
    }
  }
  

.chart-container {
    width: 70%;
    margin: auto;
}
.date-picker {
    margin: 20px;
}
.status-none{
    background-color: var(--status-none-bg) !important;
    color: black !important;
}
.status-return{
    background-color: #e86261;
    color: #670203;
}
.status-issue{
    background-color: #dec45d;
    color: #6b5704;
}
.status-completed{
    background-color: #42d07f;
    color: #0a8438;
}
.status{
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 0;
}
.report-gap{
    gap:10px;
}
.report-gap p{
    font-size: large;
}